<div class="search">
  <%= form_with url: search_path, method: :get, id: :search_form do |f| %>
    <%= f.text_field :search_term, id: "search_term", size: 50, autocomplete: "off", onKeyUp: "findSuggestions(this.value)", placeholder: "Address" %>
    <ol id="autocomplete-results-container" style="display: none"></ol>
  <% end %>

  <% if @results %>
    <div class="results">
      <table>
        <tr>
          <td>Cached?</td>
          <td><%= @results[:cached] %></td>
        </tr>
        <tr>
          <td>Location</td>
          <td><%= @results[:name] %>, <%= @results[:region] %>, <%= @results[:country] %></td>
        </tr>
        <tr>
          <td>Current Weather</td>
          <td>
            <%= @results[:current_weather][:temp_c] %>C /
            <%= @results[:current_weather][:temp_f] %>F
            (<%= @results[:current_weather][:condition] %>)
          </td>
        </tr>
        <tr>
          <td>Forecast</td>
          <td>
            High <%= @results[:forecasted_weather][:max_temp_c] %>C /
            <%= @results[:forecasted_weather][:max_temp_f] %>F<br/>
            Low <%= @results[:forecasted_weather][:min_temp_c] %>C /
            <%= @results[:forecasted_weather][:min_temp_f] %>F<br/>
            (<%= @results[:forecasted_weather][:condition] %>)
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
