<div class="search">
  <%= form_with url: search_path, method: :get, id: :search_form do |f| %>
    <%= f.text_field :search_term, id: "search_term", size: 50, autocomplete: "off", onKeyUp: "findSuggestions(this.value)", placeholder: "Address" %>
    <%= f.hidden_field :zip_code %>
    <ol id="suggestions-container" style="display: none"></ol>
  <% end %>

  <% if @results %>
    <div class="results">
      <table>
        <tr>
          <td>Location</td>
          <td><%= @results[:name] %>, <%= @results[:region] %>, <%= @results[:country] %></td>
        </tr>
        <tr>
          <td>Current </td>
          <td>
            <%= image_tag(@results[:current_weather][:icon], alt: @results[:current_weather][:condition]) %><br/>
            <%= @results[:current_weather][:temp_f] %>F / <%= @results[:current_weather][:temp_c] %>C
          </td>
        </tr>
        <tr>
          <td>Forecast</td>
          <td>
            <%= image_tag(@results[:forecasted_weather][:icon], alt: @results[:forecasted_weather][:condition]) %><br/>
            <%= @results[:forecasted_weather][:max_temp_f] %>F / <%= @results[:forecasted_weather][:max_temp_c] %>C (High)<br/>
            <%= @results[:forecasted_weather][:min_temp_f] %>F / <%= @results[:forecasted_weather][:min_temp_c] %>C (Low)
          </td>
        </tr>
        <tr>
          <td>Cached?</td>
          <td><%= @results[:cached] || 'false' %></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
